.Prints>img {
  width: 100%;
}


.Prints {
  border: 2px solid white;
  padding: 12px;
  max-width: 250px;
  margin: 0px 6px 48px 6px;
  border-radius: 2px;
  transition: transform 0.2s ease-in-out;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}



.cardtop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 12px;
  color: black;
}

h4 {
  text-align: right;
  margin-top: -3px;
  font-weight: bold;
  font-size: 8pt;
  padding: 3px 2px 3px 0px;
  color: white;
  background-color: rgba(0,0,0,0.7);
}

h3 {
  text-align: left;
  margin-top: 6px;
  font-weight: lighter;
  font-size: 8pt;
  color: grey;
}

.cardbottom{
  display: flex;
  justify-content: space-between;
  color: black;
}

.cardbottom > p{
  font-size: 10pt;
  width: 80%;
  padding-top: 12px;
  height: 100px;
}

.buttons{
  margin-top: 24px;
  display: flex;
  justify-content: space-between;
}

button{
  border: none;
  background-color: white;
  width: 40%;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  width: 100%;
  padding: 6px 8px;
  transition: 0.4s;
  position: relative;

}

button:hover{
  cursor: pointer;
  border: none;
  background-color: rgba(0,0,0,0.1);


}
