.Prints>img {
  width: 100%;
}

.Prints {
  border: 2px solid white;
  padding: 12px;
  max-width: 350px;
  margin-bottom: 48px;
  border-radius: 2px;
  transition: transform 0.2s ease-in-out;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}



.cardtop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 12px;
  color: black;
}

.cardtop>h3 {
  font-size: 8pt;
  color: grey;
}

h4 {
  text-align: right;
  margin-top: 12px;
  font-weight: lighter;
  font-size: 10pt;
  color: grey;
}

.cardbottom{
  display: flex;
  justify-content: space-between;
  color: black;
}

.cardbottom > p{
  font-size: 10pt;
  width: 80%;
  padding-top: 12px;
}

.buttons{
  margin: 24px 0px 0px auto;
  width: 40%;
  display: flex;
  justify-content: space-between;

}

button{
  border: none;
  background-color: white;
  width: 40%;
  font-family: 'Roboto';
  font-weight: bold;
  text-transform: uppercase;
  width: 100%;
  padding: 6px 12px;
  transition: 0.4s;
}

button:hover{
  cursor: pointer;
  border: none;
  background-color: rgba(0,0,0,0.1);
  width: 40%;
  font-family: 'Roboto';
  font-weight: bold;
  text-transform: uppercase;
  width: 100%;
  padding: 6px 12px
}
